@import "./config";

body {
  color: $text-color;
  font-family: "Alatsi", serif;
  font-size: 1rem;
  line-height: 140%;
  background-color: $primary;

  // resets
  margin: 0;
  padding: 0;

  button {
    background: $light;
    border-color: $primaryBtn;
    &:hover {
      background: $primaryBtn;
      border-color: $light;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 0.1rem solid $secondary;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1,
  h2,
  h3 {
    margin: 0 0 (3 * $vertical-space) 0;
  }

  p,
  ul,
  ol,
  li {
    // vertical rhythm defined by bottom margins
    margin: 0 0 $vertical-space 0;
  }
}
