@import url("https://fonts.googleapis.com/css?family=Alatsi|Patua+One&display=swap");

$primary: #fefefe;
$secondary: #006d80;
$light: #e9edf3;
$text-color: #333;
$primaryBtn: #bedbd7;

$vertical-space: 0.5rem;
