@import "./style/config";

@import "./style/body";

.App {
  // to center the app in the middle of the page
  max-width: 40rem;
  margin: 0 auto;

  // but add some spacing above
  margin-top: 2rem;

  // horizontal (internal) spacing
  padding: 0 1rem;
}

.primary-button {
  border-radius: 1em;
  padding: 1rem;
  margin: 1rem 0rem;
}

.body-text {
  margin: 0;
  margin: 1.5rem 0rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;

  .main-title {
    width: 100%;
    margin: 1.5em 0;
  }
  .primary-image {
    width: 30%;
    margin: 1.5rem 0;
  }
  .body-text {
    width: 70%;
  }
  .table {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .main {
    flex-direction: row;
    .primary-image {
      min-width: 190px;
      margin: 0 auto;
      display: block;
    }
    .body-text {
      width: 100%;
      padding-left: 0;
    }
  }
}
